/* Code under GPL licence  @thomas nunes*/

/*Sticky Footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  .si-button {
	width: 2em;
    margin: 0em 0.2em 0em 0em;
    padding: 0;
    color: #9c9c9c;
  }
  
    .si-button :hover {
		color: black;
	}
	
	.clickable {
		margin: 0;
		padding: 0;
		display: inline;
	}
	.sm-header-icons {
		line-height: 2.5rem !important;
	}
	
	/* info text*/
	.info-text {
		vertical-align: super;
	}
	
	.icon-info {
		font-size: 2.5rem;
	}
	
	.info-card {
		padding:0.8em;
	}