<div ng-controller="MainCtrl as mc">
	<div class="container">
		<h3> A propos et Conditions générales d'utilisation </h3>
		
		<div class="row " style="margin-top:3em;">
			<h4>Objet</h4>
			<div class="card">
				<div class="card-content ">
					<p style="white-space: pre-wrap;">
Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique des modalités de mise à disposition des services du site simulateur-apb.fr et leur utilisation par « l'Utilisateur ».
Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l'Utilisateur. L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation.
Éventuellement :
En cas de non-acceptation des conditions générales d'utilisation stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.
simulateur-apb.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d'utilisation.

 Le terme "Utilisateur" désigne toute personne qui utilise le site ou l'un des services proposés par le site.
					</p>
				</div>
			</div>
		</div><!-- end row -->
		
		<div class="row " style="margin-top:3em;">
			<h4>Responsabilité et force majeure</h4>
			<div class="card">
				<div class="card-content ">
					<p style="white-space: pre-wrap;">
es sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d'une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l'Utilisateur assume seul l'entière responsabilité de l'utilisation des informations et contenus du présent site.
Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.
La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
					</p>
				</div>
			</div>
		</div><!-- end row -->
		
		<div class="row " style="margin-top:3em;">
			<h4>Liens hypertextes</h4>
			<div class="card">
				<div class="card-content ">
					<p style="white-space: pre-wrap;">
De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens n'engagent en rien la responsabilité de simulateur-apb.fr qui n'a pas le contrôle de ces liens.
L'Utilisateur s'interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.
					</p>
				</div>
			</div>
		</div><!-- end row -->
		
		<div class="row " style="margin-top:3em;">
			<h4>Évolution et durée du contrat</h4>
			<div class="card">
				<div class="card-content ">
					<p style="white-space: pre-wrap;">
Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.
La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter de l'utilisation du service.
					</p>
				</div>
			</div>
		</div><!-- end row -->
		
		<div id="source" class="row ">
			<h4>License du code source</h4>
			<div class="card">
				<div class="card-content ">
					<p style="white-space: pre-wrap;">
			Simulateur de voeux admission post-bac
			Copyright (C) 2016 simulateur-apb.fr

			This program is free software: you can redistribute it and/or modify
			it under the terms of the GNU General Public License as published by
			the Free Software Foundation, either version 3 of the License, or
			(at your option) any later version.

			This program is distributed in the hope that it will be useful,
			but WITHOUT ANY WARRANTY; without even the implied warranty of
			MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
			GNU General Public License for more details.

			You should have received a copy of the GNU General Public License
			along with this program.  If not, see <a href="http://www.gnu.org/licenses/">www.gnu.org/licenses</a>.
					</p>
					
					<div class="card-panel teal lighten-4 info-card" >
					<i class="material-icons icon-info">info_outline</i> 
						  <span class="info-text">
							Si vous souhaitez réutiliser des élements de ce site sous d'autres conditions, merci de nous contacter.
						</span> 
					</div>
					
				</div>
			</div>
		</div><!-- end row -->
		
		<div class="row center">
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" 
						style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/><br/>
		</div><!-- end row -->		
		
		
		<div class="row center">
			<a class="waves-effect waves-light btn" href="#mentions-legales"><i class="material-icons right">trending_flat</i>Voir Les Mentions légales</a><br/><br/>
		</div><!-- end row -->	
		
	</div><!-- end container -->
</div><!-- end controller -->