<div ng-controller="MainCtrl as mc">

		
	 <div class="col s6 center">
		<div class="white " style="background:    linear-gradient(
rgba(84, 191, 191, 0.5), 
      rgba(84, 191, 191, 0.5)
    ), url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/small_steps.png)">
		<!-- CREDIT : Background pattern from subtlepatterns.com --> 
			<a href="#simulateur container">
				<img src="img/rocket.png" width="76" />
				<h3 style="padding: 1em; margin-top: 1em; display: inline-block; color:black;"> Simuler vos voeux APB </h3>
			</a>
		</div>
	 </div>
		 
	<div class="container">
		<div class="row">
			<p class="col s12"> 
				Le site internet Admission Post Bac permet aux futurs étudiants de s'inscrire et classer leurs vœux de poursuite d’études dans l'enseignement supérieur.
				Sont concernées, les formations  des universités (licenses et DUT), des lycées (BTS et CPGE, année de mise à niveau), les prépas intégrés des écoles d'ingénieur et les centre de formations d'apprentis (CFA).
			</p>
		</div><!-- row -->
	</div><!-- end container -->
	
	<div class="white">
		<div class="container">
			<div class="row">
				<p class="col s12"> 
					La plupart de ces formations sont gérés sur sélection par dossier ou concours à l'exception des universités qui sont géré par un algorithme interne au site.
					Ce site a pour vocation de simuler le comportement de cet algorithme afin de permettre de comprendre et optimiser votre liste de voeux.
				</p>
			</div><!-- end container -->
		</div><!-- end container -->
	</div>
	
	<div class="container">
		<div class="row center">
			<div class="col s12 m4"> <a class="black-text" href="#exemples"> <i class="material-icons large">style</i> <h5>Exemples de simulations</h5> </a> </div>
			<div class="col s12 m4"> <a class="black-text" href="#algorithme"> <i class="material-icons large">zoom_in</i> <h5>En savoir plus sur l'algorithme APB</h5> </a></div>
			<div class="col s12 m4"> <a class="black-text" href="#simulateur"> <i class="material-icons large">play_circle_outline</i> <h5>Simuler vos voeux APB</h5> </a></div>
		</div>
	</div><!-- end container -->
	
</div><!-- end controller -->