<div ng-controller="MainCtrl as mc">
	<div class="container">
		<h2> Mentions légales </h2>
		
		<div class="row ">
			<h4>Edition</h4>
			<div class="card">
				<div class="card-content ">
					<p >
						<b>simulateur-apb.fr</b> est crée et maintenu par <a href="http://thomasnds.github.io/" target="_blank">Thomas Nunes</a>. <br/><br/>
						simulateur-apb.fr n'est pas affilié au ministère de l'éducation nationale, c'est une interpretation des documents et code sources mis à disposition au public. 
						De ce fait les informations présentes sur sur ce site sont sujettes à erreurs. En cas de doute, contactez l'administration directement.<br/><br/>
						Plus d'information sur <a href="https://www.data.gouv.fr" target="_blank">data.gouv.fr</a>.
						<br/><br/>
					</p>
				</div>
			</div>
			
		</div><!-- end row -->
				<div class="row ">
			<h4>License</h4>
			<div class="card">
				<div class="card-content ">
					<p >
						
						Le contenu de ce simulateur-apb.fr est sous license <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
						</br>
						<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" 
						style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/><br/>
						Le code source de ce simulateur-apb.fr est sous licence GNU/GPL v3, une license libre et open source. <a href="#apropos#source">Détail de la license</a>. <br/> 
						Si vous souhaitez réutiliser des élements de ce site sous d'autres conditions, merci de nous contacter.
					</p>
				</div>
			</div>
		</div><!-- end row -->
		
		<div class="row">
			<h4>Hébergement</h4>
			<div class="card">
				<div class="card-content ">
					<p>
						Namecheap Legal Department</br>
						11400 W. Olympic Blvd.</br>
						Suite 200</br>
						Los Angeles, CA 90064</br>
						legal@namecheap.com
					</p>
				</div>
			</div>
		</div>
		
		<div class="row center">
			<a class="waves-effect waves-light btn" href="#apropos"><i class="material-icons right">trending_flat</i>Voir Les CGU</a><br/><br/>
		</div><!-- end row -->	
		
	</div><!-- end container -->
	
</div><!-- end controller -->