<div ng-controller="MainCtrl as mc">
	<div class="container">

		<!-- LIST  -->
		<ul class="collapsible" data-collapsible="expandable" ng-show="mc.voeux.length > 0">
			<li class="" ng-repeat="n in mc.voeux track by $index">	
				<!-- header list  -->
				<div id="head-{{$index}}" class="collapsible-header">
					<div class="clickable">
						<i class="material-icons" ng-show="n.type == 0">school</i>
						<i class="material-icons" ng-show="n.type != 0">local_library</i>
						<b>{{$index + 1}}</b> {{n.title}}
						
						<span ng-class="n.color" href="#!" class="secondary-content"
							style="width: 30px; margin-right: -1rem; font-size: 0;">.</span>
					</div>
					
					<div class="secondary-content" style="">
					
						<a ng-click="mc.expand($index)" ng-show="!n.isExpand" class="waves-effect waves-teal btn-flat si-button">
							<i class="material-icons sm-header-icons">fullscreen</i></a>
						<a ng-click="mc.collapse($index)" ng-show="n.isExpand" class="waves-effect waves-teal btn-flat si-button">
							<i class="material-icons sm-header-icons">remove</i></a></a>
						<a ng-click="mc.goUp($index)" ng-show="mc.canGoUp($index)" class="waves-effect waves-teal btn-flat si-button"> 
							<i class="material-icons sm-header-icons">arrow_upward</i> </a>
						<a ng-click="mc.goDown($index)" ng-show="mc.canGoDown($index)" class="waves-effect waves-teal btn-flat si-button"> 
							<i class="material-icons sm-header-icons">arrow_downward</i> </a>
						<a ng-click="mc.deleteIndex($index)" class="waves-effect waves-teal btn-flat si-button"> 
							<i class="material-icons sm-header-icons">delete_forever</i> </a>
					</div>
					
				</div>
				<!-- content list  -->
				<div class="collapsible-body card horizontal" style="margin-top: 0px !important;">

					<!-- content left  -->
					<div class="card-image" ng-class="n.color" style="min-width: 10%; text-align: center;">
						<h1 style="padding:0.2em;">{{$index + 1}}</h1>
					</div>

					<div class="card-stacked">
						<!-- UP content part  -->
						<div class="card-content">
							<h5>Voeu : {{n.title}}</h5>

							<div>
								<b>Elève en académie :</b>
								<span ng-show="n.isAcad">Oui</span>
								<span ng-show="!n.isAcad">Non</span>
								<br />

								<b>Type :</b>
								<span ng-show="n.type == 0">Université avec places limitées (Licence/PACES)</span>
								<span ng-show="n.type === '1'">Université (Licence/PACES)</span>
								<span ng-show="n.type === '2'">CPGE</span>
								<span ng-show="n.type === '3'">DUT / BTS</span>
								<span ng-show="n.type === '4'">Autres</span>
								<br />

								<span ng-show="n.isRanked">
									<b> {{n.rangRelatif}} ème </b>
									voeu en Université
								</span>
							</div>
						</div>
						<!-- DOWN content part  -->
						<div class="card-action brown lighten-5">

							<div ng-show="!n.isRanked">
								<span></span>
								<span ng-show="n.type === '1'">Pas de sélection à l'entrée.</span>
								<span ng-show="n.type === '2'">La sélection se fait sur dossier et/ou concours selon
									les critères de la CPGE.</span>
								<span ng-show="n.type === '3'">La sélection se fait sur dossier et/ou concours selon
									les critères de l'établissement.</span>
								<span ng-show="n.type === '4'">La sélection se fait sur dossier et/ou concours selon
									les critères de l'établissement.</span>
							</div>

							<div ng-show="n.isRanked">
							  
								<!--<span><b>{{n.classement}}</b></span> -->
								
								<ul class="">
									<li ng-show="n.prio.length > 0" style="margin-bottom: 1em;">
										<div class="">
											<span> Vous êtes prioritaire sur : </span>
										</div>
										<div class="">
											<ul ng-repeat="prio in n.prio" class="collection">
												<li class="collection-item"> {{prio}} </li>
											</ul>
										</div>
									</li>
									<li ng-show="n.nonPrio.length > 0">
										<div class="">
											<span> Sont prioritaire par rapport à vous : </span>
										</div>
										<div class="">
											<ul ng-repeat="nop in n.nonPrio" class="collection">
												<li class="collection-item"> {{nop}} </li>
											</ul>
										</div>
									</li>
								</ul>
							</div> <!-- end is ranked  -->

						</div> <!-- end card-action DOWN  -->
					</div>

				</div>	<!-- end collapsible-body  -->
			</li>
		</ul> <!-- end list  -->	
		
		<!-- ADD  -->
		<div class="row card" style="margin-top:2em;">
			<form class="card-content">
				<span class="card-title">Ajouter un voeu</span>
				<div class="row">
					<div class="input-field col s12">
						<select ng-model="mc.selectType" class="browser-default"
							style="border: #b0c4c5 solid 0.1px; margin-bottom:1em;">

							<option value="">Université avec places limitées (Licence/PACES)</option>
							<option value="1">Université (Licence/PACES)</option>
							<option value="2">CPGE</option>
							<option value="3">DUT / BTS</option>
							<option value="4">Autres</option>
						</select>
					</div>

					<div class="input-field col s12" style="margin-bottom:1em;">
						<input id="first_name" type="text" class="validate" ng-model="mc.selectTitle">
							<label for="first_name">Nom de l'établissement</label>
					</div>
					<span class="col s9" style="margin-bottom:1em;"> Etes vous ratachés à l'académie de cet établissement ? </span>
					<div class="switch col s3">
						<label>
							Non
							<input type="checkbox" ng-model="mc.selectAcad" />
							<span class="lever"></span>
							Oui
						</label>
					</div>
				</div>
				<div class="row">
					<a class="waves-effect waves-light btn right" ng-click="mc.addVoeu()" style="margin-right: 1em;">Ajouter</a>
				</div>
			</form>
		</div>

	</div><!-- end container -->
</div><!-- end controller -->



